<%= form_for(@team , remote: true ) do |f| %>
  <div class="row">
    <div class="small-12 columns">
	  <%= f.text_field :name, placeholder: 'Nome da equipe' %>
	</div>
			<%= f.fields_for :people do |p| %>
		  <div class="large-3 small-12 columns">
					<%= p.text_field :name, placeholder: 'nome do piloto' %>
					<%= p.text_field :email, placeholder: 'irn' %>
					<%= p.text_field :photo_url, placeholder: 'telefone' %>
			</div>
			<% end %>
		<div class="small-3 columns">
				<%= link_to 'Delete', @team, method: :delete, remote: true, class: "alert button prefix"%>
		</div>
    <div class="small-9 columns">
	  <%= f.submit 'Gravar', class: "button prefix"%>
    </div>
  </div>
<% end %>

