
	<h4>Equipes mais econômicas</h2>
	  <table>
	    <tbody>
	      <tr>
	        <th class="small-2 large-2 center">Score</th>
	        <th>Equipe</th>
	      </tr>
	      <% @teams.each do |team| %>
	        <tr>
	          <td class="small-2 large-2"><%= team.score %> </td>
	          <td><%= team.name %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
