			<div class="row collapse" id="team_<%=team.id%>">
				<div class="small-12 columns">
					<h3><%= link_to team.name, edit_team_path(team), remote: true  %></h3>
				</div>
					<% team.people.each do |p| %>
				  <ul class="vcard large-2 small-12">
							<li class="fn"><%= link_to p.name, person_path(p) %></li>
							<li class="email"><%= p.email %></li>
							<li><%= p.photo_url %></li>
					</ul>
					<% end %>
		</div>
