$("<%= j (render @team) %>")
	.hide()
	.prependTo("#teams")
	.slideDown("slow")
;
//$('#new_team').fadeOut("slow");
$('#new_team_link').show();
$('#new_team').remove();
//$('#team_name').val('');
//$('#team_name').focus();
