<div class="row">
  <div class="small-12 columns">
		<h2>Equipes do campeonato</h2>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="row" id="new_team_link">
			<div class="small-4 columns">
				<%= link_to 'Nova equipe', new_team_path, remote: true, class: "button prefix" %>
			</div>
		</div>
	</div>
</div>


<div class="row collapse" id="teams">
<%= render @teams %>
</div>
