<div class="row collapse">
	<%= form_for(@person) do |f| %>
  <div class="small-12 large-10 columns">
    <%= f.text_field :name, placeholder: 'piloto' %>
    <%= f.collection_select(:team_id, @teams, :id, :name,  include_blank: 'Selecione a equipe')%>
    <%= f.text_field :email, placeholder: 'irn' %>
    <%= f.text_field :photo_url, placeholder: 'Telefone' %>
	  <%= f.submit 'Gravar', class: "button prefix"%>
  </div>
	<% end %>
</div>
