<h4>Pilotos mais econômicos</h4>
  <table>
    <tbody>
      <tr>
        <th class="small-2 large-2 center">Consumo médio</th>
        <th>Piloto</th>
      </tr>
      <% @drivers.each do |driver| %>
        <tr>
          <td class="small-2 large-2"><%= driver.average_consumption %> </td>
          <td><%= driver.person.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<h4>Menções honrosas</h4>
<h6>Velocidade média</h6>
<table>
  <tbody>
    <tr>
      <th class="small-2 large-2 center">Velocidade</th>
      <th>Piloto</th>
    </tr>
    <% @fastest.each do |driver| %>
      <tr>
        <td class="small-2 large-2"><%= driver.average_speed %> </td>
        <td><%= driver.person.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h6>Distância s/ consumo</h6>
<table>
  <tbody>
    <tr>
      <th class="small-2 large-2 center">Distância</th>
      <th>Piloto</th>
    </tr>
    <% @without_consumption.each do |driver| %>
      <tr>
        <td class="small-2 large-2"><%= driver.without_consumption %> </td>
        <td><%= driver.person.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	