<div class="row">
	<div class="small-9 columns">
    <h2>Piloto</h2>
	</div>
	<div class="small-3 columns">
	  <%= link_to 'voltar', people_path, class: "small button prefix" %>
  </div>
	<%= render 'form' %>


<!--    <div class="actions">
    	<%= button_to 'Destroy', {action: :destroy, id: @person.id, data: { confirm: 'Tem certeza? Todas as voltas deste piloto seráo apagadas.'}}, 
    	  	  { method: :delete, class: 'button alert' } %></td>
    </div>
-->    
</div>