<div class="row">
    <div class="small-12 large-10">
<h1>Pilotos</h1>

<% @people.each do |person| %>
<ul class="vcard large-3 small-12">
		<li class="fn"><%= link_to person.name, person_path(person) %></li>
		<li class="email"><%= person.team.name %></li>
<!--		<li><%= person.photo_url %></li> -->
</ul>
<% end %>

<br>

<!--%= link_to 'New Person', new_person_path, class:"small button" %-->
</div>
</div>