<div class="row ">
	<div class="small-6 columns">
    <h2>Piloto</h2>
	</div>
	<div class="small-3 columns">
		<%= link_to 'Editar', edit_person_path(@person) , class: "small button prefix"%>
	</div>
	<div class="small-3 columns">
	  <%= link_to 'Voltar', people_path, class: "small button prefix" %>
  </div>
  <div class="small-12 large-10 columns">
	  <p><strong>Nome: </strong><%= @person.name %></p>
	  <p><strong>Equipe: </strong><%= @person.team.name %></p>
  </div>
</div>
<%= render 'laps/checkin'%>