<div class="row " id='checkin'>
	<div class="small-12 columns">
		<h4>Clique no botão checkin para registrar o início do percurso</h4>
		<%= form_tag (lap_checkin_path), method: :post, remote: true do %>
			<%= hidden_field_tag(:person_id, @person.id) %>
			<%= submit_tag 'Check-in', class: 'button sucess prefix'%>
			<% end %>
	</div>
</div>
