<div class="row " id='checkout'>
	<div class="small-12 columns">
		<h4>Ao final do percurso, informe o arquivo de dados e pressione o botão checkout.</h4>
	  <%= link_to 'Check-out', lap_checkout_path(id: @lap.id), remote: false, method: :post, class: "small button alert prefix" %>
	</div>
</div>
