<%= form_for(@lap) do |f| %>
<div class="row">
	<div class="small-6 columns">
	  <%= f.label :average_consumption, 'Consumo médio', class: ' inline' %><br>
	</div>
	<div class="small-5 columns">
	  <%= f.text_field :average_consumption %>
	</div>
</div>
<div class="row">
	<div class="small-5 columns">
	  <%= f.label :average_speed, 'Velocidade média', class: ' inline' %><br>
	</div>
	<div class="small-5 columns">
	  <%= f.text_field :average_speed %>
	</div>
</div>
<div class="row">
	<div class="small-5 columns">
	  <%= f.label :without_consumption, 'Distância s/ consumo', class: ' inline' %><br>
	</div>
	<div class="small-5 columns">
	  <%= f.text_field :without_consumption %>
	</div>
</div>
<div class="row">
	<div class="small-5 columns">
	  <%= f.label :acceleration, 'Aceleração', class: ' inline' %><br>
	</div>
	<div class="small-5 columns">
	  <%= f.text_field :acceleration %>
	</div>
</div>
<div class="row">
	<div class="small-5 columns">
    <%= f.label :gear_changes, 'Troca de marchas', class: ' inline' %><br>
  </div>
  <div class="small-5 columns">
    <%= f.text_field :gear_changes %>
  </div>
</div>
<div class="row">
	<div class="small-5 columns">
    <%= f.label :anticipation, 'Antecipação', class: ' inline' %><br>
  </div>
  <div class="small-5 columns">
    <%= f.text_field :anticipation %>
  </div>
</div>
<div class="row">
	<div class="small-5 columns">
	  <%= f.label :score, 'Score', class: ' inline'%><br>
	</div>
	<div class="small-5 columns">
	  <%= f.number_field :score %>
	</div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= f.submit 'Salvar', class: 'small-12 button'%>
  </div>
</div>



<% end %>
