<h4>Classificação final</h4>


<table >
  <thead>
    <tr>
      <th>Piloto</th>
			<th>Equipe</th>
      <th>Consumo médio</th>
      <th>Velocidade média</th>
      <th>Distância sem consumo</th>
      <th>Aceleração</th>
      <th>Troca de marchas</th>
      <th>Antecipação</th>
      <th>Eco Score</th>
    </tr>
  </thead>

  <tbody>
    <% @laps.each do |lap| %>
      <tr>
        <td><%= lap.person.name %></td>
        <td><%= lap.person.team.name %></td>
        <td><%= lap.average_consumption %></td>
        <td><%= lap.average_speed %></td>
        <td><%= lap.without_consumption %></td>
        <td><%= lap.acceleration %></td>
        <td><%= lap.gear_changes %></td>
        <td><%= lap.anticipation %></td>
        <td><%= lap.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

