<p id="notice"><%= notice %></p>

<p>
  <strong>Distance:</strong>
  <%= @lap.distance %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @lap.duration %>
</p>

<p>
  <strong>Score:</strong>
  <%= @lap.score %>
</p>

<p>
  <strong>Acceleration:</strong>
  <%= @lap.acceleration %>
</p>

<p>
  <strong>Gear changes:</strong>
  <%= @lap.gear_changes %>
</p>

<p>
  <strong>Anticipation:</strong>
  <%= @lap.anticipation %>
</p>

<p>
  <strong>Average consumption:</strong>
  <%= @lap.average_consumption %>
</p>

<p>
  <strong>Total consumption:</strong>
  <%= @lap.total_consumption %>
</p>

<p>
  <strong>Average speed:</strong>
  <%= @lap.average_speed %>
</p>

<p>
  <strong>Without consumption:</strong>
  <%= @lap.without_consumption %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @lap.started_at %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @lap.finished_at %>
</p>

<%= link_to 'Edit', edit_lap_path(@lap) %> |
<%= link_to 'Back', laps_path %>
