<div class="row">
	<div class="small-12 large-4 columns">
		<%= render 'teams/ranking'%>
		<%= render 'people/ranking'%>
	</div>
	<div class="small-12 large-8 columns">
			<%= render 'laps/ranking'%>
	</div>
</div>