<nav class="top-bar expanded">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to 'Inova DSIA', root_path %>
      </h1>
    </li>
<!--
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
	<section class="top-bar-section">
	  <ul class="left">
	  </ul>
		<ul class="right">
  	  		<li class><%= link_to 'Equipes', teams_path  %></li>
	    		<li class><%= link_to 'Pilotos', people_path  %></li>
  		  	<li class><%= link_to 'Notícias', root_path  %></li>
	  </ul>
	</section>
-->
</nav>
