<!DOCTYPE html>
<html lang="en">
  <head>
		<meta http-equiv="refresh" content="10">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Campeonato de consumo de combustível" %></title>

    <%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag 'jquery', 'jquery_ujs'%>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tag %>
  </head>

  <body>
		<%= render "header"%>
		<div class="content">
    <%= yield %>
		</div>
		<%= render "footer"%>

  </body>
</html>
